<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Adulting: Food Edition</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
              <li><a href="/" class="btn btn-success">Home</a></li>
              <li><form method="get" action="/login" class="navbar-form navbar-right">
                <button id="login-button" type="submit" class="btn btn-primary">Login</button>
            </form></li>
              {% if current_user.is_authenticated %}
              <li><a id="profile-button" href="{{ url_for("profile") }}" class="btn btn-secondary">My Profile</a></li>
              {% endif %}
          </ul>
            {% if current_user.is_authenticated %}
            <form method="post" action="{{ url_for("logout") }}" class="navbar-form navbar-right">
                <button id="logout-button" type="submit" class="btn btn-danger">Logout</button>
            </form>
            {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingredients
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/ingredient">Create Ingredient</a></li>
                  <li><a class="dropdown-item" href="/ingredient/all">View All Ingredients</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/ingredient/search_complex">Complex Search for an Ingredient</a></li>
                  <li><a class="dropdown-item" href="/ingredient/search_simple">Simple Search for an Ingredient</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recipes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/recipe">Create Recipe</a></li>
                  <li><a class="dropdown-item" href="/recipe/all">See all Recipes</a></li>
                  <li><a class="dropdown-item" href="/recipe/mine">See all YOUR Recipes</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/recipe/search_complex">Complex Search for an Recipe</a></li>
                  <li><a class="dropdown-item" href="/recipe/search_simple">Simple Search for an Recipe</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groccerries
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/groceries">Create Grocery List</a></li>
                  <li><a class="dropdown-item" href="/groceries/all">Get All YOUR Lists</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/about">About</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>