<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Adulting: Food Edition</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Other</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log-In</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingredients
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/add_ingredient">Create Ingredient</a></li>
                  <li><a class="dropdown-item" href="/ingredient/search">Search for an Ingredient</a></li>
                  <li><a class="dropdown-item" href="/articles">Update an Ingredient</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/about">About</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recipes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="logout">LogOut!</a></li>
                  <li><a class="dropdown-item" href="/add_recipe">Create Recipe</a></li>
                  <li><a class="dropdown-item" href="/recipe/search">Search for Recipe</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/about">About</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groccerries
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="logout">LogOut!</a></li>
                  <li><a class="dropdown-item" href="/addarticle">Create Article</a></li>
                  <li><a class="dropdown-item" href="/articles">Get All Articles</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/about">About</a></li>
                </ul>
              </li>
            </ul>
            <a href="/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create an Account</a>
          </div>
        </div>
      </nav>