{% extends 'layout.html' %}
{% block body %} 
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST"  action="">
   <div class="main-div">
    <div class="form-group" class='title'>
        {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group" class='title'>
        {{render_field(form.notes, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    <div class="container">
        <div class="col">
            <div class="form-group">
                <div class = "container2">
                    {% for recipe in recipes%}
                            <div class=column>
                                <div class="options-area"><input type="checkbox" name = "recipe_{{recipe.title}}" id = "{{recipe._id}}" value="{{recipe._id}}"/></div>
                                <label for="recipe_{{recipe.title}}">{{recipe.title}}</label><br>
                                <!-- <h4>{{recipe.title}}</h2> -->
                                <div class="image-area"><img src={{ url_for('static', filename=recipe.img_URI) }} alt=”Bananas width="100" height="100"></div>
                                <ul>
                                    {%for items in recipe.ingredients%}
                                        <li>{{items.ingredient.title}} - {{items.quantity}}{{items.unit}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
        <div class="col">
            {% for type in types %}
                <button class="accordion">{{type}}</button>
                <div class="panel"> <br><br>
                    <div class="form-group">
                        <table class="table table-dark">
                            <thead>
                                    <tr>
                                        <td class="tg-0lax">Select</td>
                                        <td class="tg-0lax">Ingredient</td>
                                        <td class="tg-0lax">Image</td>
                                        <td class="tg-0lax">Quanity</td>
                                        <td class="tg-0lax">Unit</td>
                                        <!-- <td class="tg-0lax">Unit Price</td> -->
                                    </tr>
                            {% for ingredient in ingredients%}
                                    {% if type == ingredient.type %}
                                    <tr>
                                        <td><input type="checkbox" name="ingredient_{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/></td>
                                        <td class="tg-0lax"><a href="/ingredient/{{ingredient._id}}">{{ingredient.title}}</a></td>
                                        <td class="tg-0lax"><img src ={{ url_for('static', filename=ingredient.img_URI)}} height="50" width="50" id="ingredient-image" /></td>
                                        <td class="tg-0lax"><input type="number" id='quantity' name="quantity_{{ingredient.title}}" min="1" style="width: 85%;"></td>
                                        <td class="tg-0lax">
                                            <select name="unit_{{ingredient.title}}" id="unit" style="width: 100px;">
                                                <optgroup label="Metric">
                                                <option value=""></option>
                                                <option value="of them">Count</option>
                                                <option value="g">grams</option>
                                                <option value="kg">kilograms</option>
                                                <option value="ml">milliliters</option>
                                                <option value="L">Liters</option>
                                                </optgroup>
                                                <optgroup label="That Other Fuck Shit">
                                                <option value="lb">pounds</option>
                                                <option value="oz">ounces</option>
                                                <option value="fl oz">fluid ounces</option>
                                                <option value="cups">cups</option>
                                                </optgroup>
                                            </select>
                                        </td>
                                        <!-- <td class="tg-0lax"><input type="number" id='quantity' step="0.01" name="price_{{ingredient.title}}" min="1" style="width: 75px;"></td> -->
                                    </tr>
                            </thead>
                                    {% endif %}
                                {% endfor %}
                        </table>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
   </div>
</form>
  
<style>
      .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0% 6%;
            grid-auto-flow: row;
            grid-template-areas:
                ". .";
            width: 100%;
            }
            
        .container2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 10%;
            grid-auto-flow: row;
            grid-template-areas:
                ". . ."
                ". . ."
                ". . .";
        } 
        .col{
            width: 100%;
        }
        .main-div{
            width:  1300px;
        }   
  </style>
  <!-- Ingredients Finnesse -->
  <style>
    /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
  background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  #panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  }
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function(event) {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
      panel.style.display = "none";
      } else {
      panel.style.display = "block";
      }
      event.preventDefault();
  });
  }
</script>
  
{% endblock %}