{% extends 'layout.html' %}

{% block body %}
<h1>Create Recipe</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cuisine, class_="form-control")}}
    </div>
    <h1>Add Ingredients</h1>
    <div class="form-group">
      {% for ingredient in ingredients%}
        <input type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/>
        <label for={{ingredient._id}}> {{ingredient.title}}</label><br>
      {% endfor %}
    </div>
    <h1>Add Instructions</h1>
    <div id ="holder">
      <div class="form-group" id ="instructions">
        <!-- Used Javascript to populate the inside -->
       </div>
    </div>
    <div class="form-group"><p><input type="file" name="file" /></p></div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
  <script>
    var counter = 0;
    var inst = document.getElementById("holder");
    label = "<label for = 'inst_element'>Instruction </label>";
    button = "<button id = 'inst_button' onmouseover = 'myFunction()'>Hover Here</button>";
    function myFunction() {
      counter = counter +1
      var newbie = document.createElement("DIV");
      newbie.className = 'form-group';
      newbie.id = 'instructions'
      input = "<input type='text' name='instruct"+counter+"'"+"  id = 'inst_element'>";
      newbie.innerHTML = label + input + button;
      console.log(newbie.innerHTML)
      inst.appendChild(newbie);
    }
    // window.addEventListener("load", myFunction())
    // e.preventDefault();
    // window.onload(
      myFunction()
  </script>
{% endblock %}