{% extends 'layout.html' %}

{% block body %}
<h1>Create Recipe</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{render_field(form.title, class_="form-control")}}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{render_field(form.cuisine, class_="form-control")}}
        </div>
        </div>
      </div>
    </div>
    <div class="form-group"><p><input type="file" name="file" />Add a picture</p></div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
    <h1>Add Ingredients</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {%for type in types%}
      <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{type}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{type}}" aria-expanded="false" aria-controls="flush-collapseOne">
          {{type}}
          </button>
      </h2>
      <div id="flush-{{type}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <div class="container">
                  <div class="row">
                      <div class="col-1">Select</div>
                      <div class="col-3">Ingredient</div>
                      <div class="col-2">Image</div>
                      <div class="col-2">Quantity</div>
                      <div class="col-2">Unit</div>
                  </div>
                  {%for ingredient in ingredients%}
                    {%if ingredient.type == type %}
                      <div class="container" >
                          <div class="row">
                              <div class="col-1"><input type="checkbox" name="ingredient_{{ingredient._id}}" id = {{ingredient_id}} value = "{{ingredient.title}}"/></div>
                              <div class="col-3"><a href="/ingredient/{{ingredient._id}}">{{ingredient.title}}</a></div>
                              <div class="col-2"><img src ={{ url_for('static', filename=ingredient.img_URI)}} height="75" width="75" id="ingredient-image" /></div>
                              <div class="col-2"><input type="number" id='quantity' name="quantity_{{ingredient.title}}" min="1" style="width: 85%;" step=0.1 ></div>
                              <div class="col-2">
                                  <select name="unit_{{ingredient.title}}" id="unit" style="width: 50px;">
                                      <optgroup label="Metric">
                                      <option value=""></option>
                                      <option value="of them">Count</option>
                                      <option value="g">grams</option>
                                      <option value="kg">kilograms</option>
                                      <option value="ml">milliliters</option>
                                      <option value="L">Liters</option>
                                      </optgroup>
                                      <optgroup label="That Other Fuck Shit">
                                      <option value="lb">pounds</option>
                                      <option value="oz">ounces</option>
                                      <option value="fl oz">fluid ounces</option>
                                      <option value="cups">cups</option>
                                      </optgroup>
                                  </select>
                              </div>
                          </div>
                      </div>
                    {%endif%}
                  {%endfor%}
              </div>
      </div>
      </div>
      </div>
  {%endfor%}
  
  </div>
    <h1>Add Instructions</h1>
    <h3>Type an Instruction in the input box above The prep and Execution areas then press the DOWN Arrow Button DO NOT PUSH THE ENTER KEY</h3>
    <h3>Drag these list items to your preferred order in the Drag and Drop Column(s)</h3>
    <div>
      <p><input type="submit" class="btn btn-primary" value="Submit"></p>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class= 'row' id='starter-prep'>
              <h2>Prep</h2>
              <div class="col-8"><input type="text" id='holder-input-prep' /></div>
            </div>
            <div class="row">
              <div class="col-2" id="Order-Prep">
                  <h4>Order</h4>
              </div>
              <div class="col-3" id="divContainer-drop"><h4>Drag & Drop</h4></div>
              <div class="col-7" id="divContainer"> 
                    <h4>Prep</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class= 'row' id='starter-execution'>
              <h2>Execution</h2>
              <div class="col-8"><input type="text" id='holder-input-execution' /></div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="Order-Execution">
                  <h2>Order</h2>
                </div>
              </div>
              <div class="col-3" id="divContainer-drop2"><h4>Drag & Drop</h4></div>
              <div class="col-3">
                <div class = "Landing-Execution" id="divContainer2" >
                  <h2>Execution</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- Instructions Finnesse 2 -->
<style>
  #holder-input{
    width: 400px;
    height: 50px;
  }
  #input-item{
    margin-left: 30%;
  }
  
</style>

{% endblock %}