{% extends 'layout.html' %}

{% block body %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-3">  
                <div class="row">Associated Recipes
                    <div class="row">
                        <div class="col"><div class="holder">1</div></div>
                        <div class="col"><div class="holder">1</div></div>
                        <div class="col"><div class="holder">1</div></div>
                    </div>
                </div>
                <div class="row">Ingredient Stats</div>
            </div>
            <div class="col-9">
                <div class="card border-dark mb-3" style="max-width: 18rem;">

                    <div class="card-header">
                        <h3 class="card-title">{{ingredient.title}}</h3>
                        <div>Type:{{ingredient.type[-1:]}}({{ingredient.type[0:-1]}}) State: {{ingredient.state[-1:]}}({{ingredient.state[0:-1]}})</div> 
                    </div>
                    <img src={{ url_for('static', filename=ingredient.img_URI) }} class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <p class="card-text">{{ingredient.description}}</p>
                </div>
            </div>
        </div>
    <div class="row">Similar Ingredients</div>
    
    </div>
</div>

<style>
    .card{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .holder{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 100%;
        border-style: solid;
        border-color: black;
        background-color: blue;
        width: 50%;
    }

</style>
{% endblock %}