{% extends 'layout.html' %}

{% block body %}
<div>
    <div class="container">
                <div class="card border-dark mb-3" style="max-width: 18rem;">

                    <div class="card-header">
                        <h3 class="card-title">{{ingredient.title}}</h3>
                        <div>Type:{{ingredient.type[-1:]}}({{ingredient.type[0:-1]}}) State: {{ingredient.state[-1:]}}({{ingredient.state[0:-1]}})</div> 
                    </div>
                    <img src={{ url_for('static', filename=ingredient.img_URI) }} class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <p class="card-text">{{ingredient.description}}</p>
                </div>
    </div>
</div>

<style>
   
    .card{
        box-shadow: #dc143c 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .holder{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 100%;
        border-style: solid;
        border-color: black;
        background-color: blue;
        width: 50%;
    }
    .container{
        margin: 10% 0% 10% 20%;
    }
    .card-img-top{
        width: 50%;
       margin-left: 25%;
       margin-top: 5%;
    }


</style>
{% endblock %}