{% extends 'layout.html' %}

{% block body %}
<div>
    <h1>{{recipe.title}}-{{recipe.img_URI}}</h1>
    <div><img class="rounded mx-auto d-block" src={{ url_for('static', filename='recipe.img_URI') }} alt=”Bananas” style="width: 50%;" ></div>
    <br>
    <div class="row gx-5" id="description"><p>{{recipe.description}}</p></div>
    <h1>Ingredients</h1>
    <div class="grid-container">
        {% for type in ingredient_type %}
            <div class="grid-">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{type}}
                    </div>
                    {%for ingredient in recipe.ingredients%}
                        {%if ingredient.ingredient.type == type%}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {{ingredient.ingredient.title}} - {{ingredient.quantity}} {{ingredient.unit}}
                                </li>
                            </ul>
                        {%endif%}
                    {%endfor%}
                </div>
            <div>     
    </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>Instructions</h1>
        <div class="row">
            <div class="col"> <h2>Prep</h2>
                <ol>
                {% for item in prep %}
                    <li>{{item}}</li>
                {% endfor %}
                </ol>
            </div>
            <div class="col"> <h2>Execution</h2>
                <ol>
                {% for exec in execution %}
                    <li>{{exec}}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<style>
    .type-area{
        font-size: x-large;
    }
    .ingredient-area{
        display: flex;
    }
    #description{
        margin-left: 30%;
    }
    
</style>
{% endblock %}