{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>All Groceries Lists </h1>
  <table class="table table-dark" style="width:max-content ;">
      <thead>
        <tr>
          <td class="tg-0lax">Title</td>
          <td class="tg-0lax">Items</td>
          <td class="tg-0lax">Actions</td>

        </tr>
        {% for grocery in groceries%}
          <tr>
              <td class="tg-0lax"><a href="/groceries/{{grocery.id}}">{{grocery.groccery_list}}</a></td>
              <td class="tg-0lax">
                <button class="accordion">Ingredients</button>
                <div class="panel">
                  <ul>
                    {% for ingredient in grocery.ingredients %}
                    <li>{{ingredient.ingredient.title}}</li>
                    {% endfor %}
                </ul>
                </div>
              </td>
              <td class="tg-0lax"><a href="/groceries/update/{{grocery.id}}">Update</a></td>
          </tr>
        {% endfor %}
      </thead>
  </table>
</div>
<style>
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
width: max-content;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
padding: 0 18px;
background-color: white;
color: black;
display: none;
overflow: hidden;
width: max-content;
}
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
      panel.style.display = "none";
      } else {
      panel.style.display = "block";
      }
  });
  }
</script>

{% endblock %}