{% extends 'layout.html' %}

{% block body %}

<form method="POST"  action="">
  <div class="form-group">
    <label for="ingredients" style="color: black;">Search for Ingredient</label>
    <input list="ingredients_search" name="ingredients" id="ingredients">
    <datalist id="ingredients_search">
      <!-- <option> swag -->
      {% for ingredient in ingredients%}
        <option value="{{ingredient.title}}"> 
      {% endfor %}
    </datalist>
    <input type="submit">
  </div>
</form>
  
{% endblock %}