{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Here are all your recipes </h1>
  <div class="row">
    {% for recipe in recipes%}
       <div class="col-3">
       <div class="card border-dark mb-4" style="width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col"><p><a  href="update/{{recipe._id}}">Update</a></p></div>
              <div class="col"><p><a href="delete/{{recipe._id}}">Delete</a></p></div>
            </div>
          </div>
          <div class="card-body">
            <div class="row"><h6 class="card-title"><a href="/recipe/global/{{recipe._id}}">{{recipe.title}}</a></h6></div>
            <div class="row"><img src={{ url_for('static', filename=recipe.img_URI) }} class="card-img-top" alt="..."></div>
            <div class="row"><p class="card-text">{{recipe.description}}</p></div>
          </div>
      </div>
      {% endfor %}
  </div>

{% endblock %}