{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class= 'row' id='starter-prep'>
        <div class="col-8"><input type="text" id='holder-input-prep' /></div>
      </div>
      <div class="row">
        <div class="col-2" id="Order-Prep">
            <h4>Order</h4>
        </div>
        <div class="col-3" id="divContainer-drop"><h4>Drag & Drop</h4></div>
        <div class="col-7" id="divContainer"> 
              <h4>Prep</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class= 'row' id='starter-execution'>
        <div class="col-8"><input type="text" id='holder-input-execution' /></div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="Order-Execution">
            <h2>Order</h2>
          </div>
        </div>
        <div class="col-3" id="divContainer-drop2"><h4>Drag & Drop</h4></div>
        <div class="col-3">
          <div class = "Landing-Execution" id="divContainer2" >
            <h2>Execution</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #holder-input{
    width: 400px;
    height: 50px;
  }
  #input-item{
    margin-left: 30%;
  }
</style>
<script>
  var element_pos = 0;    // Position of the newly created elements.
  var iCnt = 0;
  var iCnt2 = 0;
  var order_prep = $('#Order-Prep');
  var order_exec = $('.Order-Execution');
  prelim_prep_instruction = '';
  $(document).ready(function() {
    //PREP Column
      $(function() { $('#divContainer').draggable(); });
      $(function() { $('#divContainer-drop').droppable(); });
      // Create more DIV elements with absolute postioning.
      $(document).keydown(function(event) {
        //window.alert(event.keyCode);
        if (event.keyCode =='13'){
          var dynamic_div = $(document.createElement('div')).css(
            "margin-left", "100px"
          );
          var dynamic_div2 = $(document.createElement('div')).css(
            "margin-left", "100px"
          );
        var input_value = '';
        var input_value_execution = '';
        input_value = $('#holder-input-prep').val();
        if (input_value !=''){
          $(dynamic_div).append("<li >"+input_value+"</li>");
          $(dynamic_div).text()
          $('#holder-input-prep').val("");
          // Append the newly created DIV to the container.
          $(dynamic_div).appendTo('#divContainer').draggable(
            {
              cursor: "move",
              drag: function( event, ui ) {
                prelim_prep_instruction = $(this).text();
              }
          }
          );
          var dynamic_div_drop = $(document.createElement('div')).css({
            border: '1px dashed', position: 'relative',
            width: 'max-content', height: 'max-content', padding: '3', margin: '0'
          });
          $(dynamic_div_drop).append("<input type='text' name='prep" +iCnt+"'"+">");
          $(dynamic_div_drop).appendTo('#divContainer-drop')
          $("input").droppable(
            {
              activeClass: "active",
              hoverClass:  "hover",
              drop :function(event, ui) {
                $( this ).addClass( "ui-state-highlight" );
                $( this ).addClass( "ui-widget-header" );
                $( this ).val(prelim_prep_instruction);
              }
            
            } );
          $(order_prep).append("<p>"+iCnt+"</p>");
        }
        iCnt = iCnt + 1;
        //Execution
        input_value_execution = $('#holder-input-execution').val();
        if (input_value_execution !=''){
          $(dynamic_div2).append("<li >"+input_value_execution+"</li>");
          $(dynamic_div2).text()
          $('#holder-input-execution').val("");
        // Append the newly created DIV to the container.
          $(dynamic_div2).appendTo('#divContainer2').draggable(
            {
              cursor: "move",
              drag: function( event, ui ) {
                prelim_prep_instruction = $(this).text();
              }
          }
          );
          var dynamic_div_drop2 = $(document.createElement('div')).css({
            border: '1px dashed', position: 'relative',
            width: 'max-content', height: 'max-content', padding: '3', margin: '0'
          });
          $(dynamic_div_drop2).append("<input type='text' name='exec" +iCnt2+"'"+">");
          $(dynamic_div_drop2).appendTo('#divContainer-drop2')
          $("input").droppable(
            {
              activeClass: "active",
              hoverClass:  "hover",
              drop :function(event, ui) {
                $( this ).addClass( "ui-state-highlight" );
                $( this ).addClass( "ui-widget-header" );
                $( this ).val(prelim_prep_instruction);
              }
            
            } );
          $(order_exec).append("<p>"+iCnt2+"</p>");
        }
        iCnt2 = iCnt2 + 1;
        }
      });
      









      //EXECUTION COLUMN
      $(function() { $('#divContainer2').draggable(); });
      // Create more DIV elements with absolute postioning.
      $('#btClickMe2').click(function() {
          var dynamic_div2 = $(document.createElement('div')).css({
            border: '1px dashed', position: 'relative',
            width: 'max-content', height: 'max-content', padding: '3', margin: '0'
        });
          $(dynamic_div2).append("<input type='text' name='execution" +iCnt+"'"+">");
          // Append the newly created DIV to the container.
          $(dynamic_div2).appendTo('#divContainer2').draggable();
          $(order_exec).append("<p>"+iCnt2+"</p>");
          iCnt2 = iCnt2 + 1;
      });
  /*$(function () {
      
      var prep_landing = $('.Landing-Prep');
      var order_execution = $('.Order-Execution');
      var execution_landing = $('.Landing-Execution');
      var prep_input = $("prep-entry");
      var counter = 0;
      $(document).keydown(function(event) {
        //window.alert(event.keyCode);
        if (event.keyCode =='13'){
          counter = counter +1;
          
          prep_landing.append("<div class= 'row' id='draggable'></div>");
          order_execution.append("<p>"+counter+"</p>");
          execution_landing.append("<div class= 'row' id='draggable'><input type='text' name='execution" +count<input type='text' name='prep" +counter+"'"+">er+"'"+"></div>");
          $('#draggable').draggable({
            cancel: null
          });
          $('#draggable input').click(function() {
            $(this).focus();
          });
          window.aler("Hi");
         
         
        }
      });*/
      
        

      

      /*$(".drop-prep").droppable({
        activeClass: "active",
        hoverClass:  "hover",
        drop: function( event, ui ) {
           $( this ).addClass( "ui-state-highlight" );
           $( this ).addClass( "ui-widget-header" );
           //$( this ).val(prelim_instruction);
        }
     });*/
      

    
    })
</script>
{% endblock %}