{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class= 'row' id='starter-prep'>
        <div class="col-8"><input type="text" id='holder-input-prep' /></div>
      </div>
      <div class="row">
        <div class="col-2" id="Order-Prep">
            <h4>Order</h4>
        </div>
        <div class="col-3" id="divContainer-drop"><h4>Drag & Drop</h4></div>
        <div class="col-7" id="divContainer"> 
              <h4>Prep</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class= 'row' id='starter-execution'>
        <div class="col-8"><input type="text" id='holder-input-execution' /></div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="Order-Execution">
            <h2>Order</h2>
          </div>
        </div>
        <div class="col-3" id="divContainer-drop2"><h4>Drag & Drop</h4></div>
        <div class="col-3">
          <div class = "Landing-Execution" id="divContainer2" >
            <h2>Execution</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #holder-input{
    width: 400px;
    height: 50px;
  }
  #input-item{
    margin-left: 30%;
  }
</style>

{% endblock %}