{% extends 'layout.html' %}

{% block body %}

<form method="POST" enctype="multipart/form-data" action="">
  <h1>Current Ingredients</h1>
    <div class="form-group">
      <ol>
        {% for stuff in current_ingredients %}
          <li><input type="checkbox" checked name="{{stuff.title}}" id = {{stuff._id}} value = "{{stuff.title}}"/>
            <label for={{stuff._id}}> {{stuff.title}}</label><br></li>
        {% endfor %}
      </ol>
      <h1>Add Ingredients</h1>
    </div>  
  <div class="form-group">
      {% for ingredient in ingredients%}
        <input type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/>
        <label for={{ingredient._id}}> {{ingredient.title}}</label><br>
      {% endfor %}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}