{% extends 'layout.html' %}

{% block body %}
<h1>Ingredients</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cuisine, class_="form-control")}}
    </div>
    <div class="form-group">
      <img src={{ url_for('static', filename=form.img_URI) }} alt=”Bananas”  width="60" height="60">
    </div>
    <div class="form-group"><p><input type="file" name="file" /></p></div>
    <h1>Add Ingredients</h1> 
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {%for type in types%}
      <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{type}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{type}}" aria-expanded="false" aria-controls="flush-collapseOne">
          {{type}}
          </button>
      </h2>
      <div id="flush-{{type}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <div class="container">
                  <div class="row">
                      <div class="col-1">Select</div>
                      <div class="col-3">Ingredient</div>
                      <div class="col-2">Image</div>
                      <div class="col-2">Quantity</div>
                      <div class="col-2">Unit</div>
                  </div>
                  {%for ingredient in ingredients%}
                    {%if ingredient.type == type %}
                      {% for stuff in current_ingredients %}
                        {% if ingredient.title == stuff.ingredient.title %}
                        <div class="container" >
                          <div class="row">
                              <div class="col-1"><input checked type="checkbox" name="ingredient_{{stuff.ingredient._id}}"  value = "{{stuff.ingredient.title}}"/></div>
                              <div class="col-3"><a href="/ingredient/{{stuff.ingredient._id}}">{{stuff.ingredient.title}}</a></div>
                              <div class="col-2"><img src ={{ url_for('static', filename=stuff.ingredient.img_URI)}} height="75" width="75" id="ingredient-image" /></div>
                              <div class="col-2"><input type="number" id='quantity' name="quantity_{{stuff.ingredient.title}}" value= "{{stuff.quantity}}" min="1" style="width: 85%;" step=0.1 ></div>
                              <div class="col-2">
                                  <select name="unit_{{stuff.ingredient.title}}" id="unit" style="width: 50px;">
                                      <optgroup label="Metric">
                                      <option value="{{stuff.unit}}">{{stuff.unit}}</option>
                                      <option value="of them">Count</option>
                                      <option value="g">grams</option>
                                      <option value="kg">kilograms</option>
                                      <option value="ml">milliliters</option>
                                      <option value="L">Liters</option>
                                      </optgroup>
                                      <optgroup label="That Other Fuck Shit">
                                      <option value="lb">pounds</option>
                                      <option value="oz">ounces</option>
                                      <option value="fl oz">fluid ounces</option>
                                      <option value="cups">cups</option>
                                      </optgroup>
                                  </select>
                              </div>
                          </div>
                      </div>
                        {%endif%}
                      {%endfor%}
                      {%if ingredient.title not in titles%}
                        <div class="containter">
                          <div class="row">
                            <div class="col-1"><input  type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/></div>
                            <div class="col-3"><label for={{ingredient._id}} style="width: 15%;"> {{ingredient.title}}</label></div>
                            <div class="col-2"><img src ={{ url_for('static', filename=ingredient.img_URI)}} height="75" width="75" id="ingredient-image" /></div>
                            <div class="col-2"><input type="number" id='quantity' name="quantity_{{ingredient.title}}" min="1" style="width: 85%;" step=0.1> </div>
                            <div class="col-2">
                              <select name="unit_{{ingredient.title}}" id="unit" style="width: 50px;">
                                <optgroup label="Metric">
                                  <option value="of them">Count</option>
                                  <option value="g">grams</option>
                                  <option value="kg">kilograms</option>
                                  <option value="ml">milliliters</option>
                                  <option value="L">Liters</option>
                                </optgroup>
                                <optgroup label="That Other Fuck Shit">
                                  <option value="lb">pounds</option>
                                  <option value="oz">ounces</option>
                                  <option value="fl oz">fluid ounces</option>
                                  <option value="cups">cups</option>
                                </optgroup>
                              </select>
                            </div>
                            <br><br>
                          </div>
                        </div>
                      {%endif%}
                    {%endif%}
                  {%endfor%}
              </div>
      </div>
      </div>
      </div>
  {%endfor%}
  </div>
    <p><input type="submit" class="btn btn-primary" value="Update Recipe {{form.title.data}}"></p>
    <h1>Current Instructions</h1>
    <div class="container">
      <div class="row">
        <h4>Enter prep and execution instructions. place each new instruction on a new line </h4>
          <div class = "col-6"><h3>Prep</h3>
            <textarea name="prep" id="prep_area" cols="60" rows="100" wrap="hard" >
              {% for item in prep %}
              {{item}}
              {% endfor %}
          </textarea>
        </div>
          <div class = "col-6"><h3>Execution</h3>
            <textarea name="execution" id="execution_area" cols="60" rows="100">
                {% for item in execution %}
                  {{item}}
                {% endfor %}
            </textarea>
          </div>
      </div>
    </div>
  </form>

 <script>
  $(function(){
    var iCnter = Number($("#amount-holder").html()) ;
    var eCnter = Number($("#amount-holder-execution").html());
    $(document).ready(function() {
      $(document).keydown(function(event) {
        //window.alert(event.keyCode);
        if (event.keyCode =='40'){
          var prep = $('#holder-input-prep-update').val();
          var execution = $('#holder-input-execution-update').val();
          if (prep != ''){
            $('#holder-input-execution-update').val("");
            $("#order-continued").append("<div>"+iCnter+"</div>");
            $("#divContainer-update2").append("<div class='col'><input type='text' value='"+prep+"'"+ "name='prep" +iCnter+"'"+"></div>");
            iCnter = iCnter +1;
          }
          if (execution != ''){
            $('#holder-input-prep-update').val("");
            $("#order-continued-execution").append("<div>"+eCnter+"</div>");
            $("#divContainer-update2-execution").append("<div class='col'><input type='text' value='"+execution+"'"+ "name='execution" +eCnter+"'"+"></div>");
            eCnter = eCnter + 1;
          }
        }
      });
    });
  });
 
 </script>
{% endblock %}