{% extends 'layout.html' %}

{% block body %}
<h1>Current Ingredients</h1>
    <div class="ya">
      <ol>
        {% for stuff in current_ingredients %}
          <li>{{stuff.title}}</li>
        {% endfor %}
      </ol>
      <h1>Add Ingredients</h1>
    </div>
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {% for ingredient in ingredients%}
        <input type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/>
        <label for={{ingredient._id}}> {{ingredient.title}}</label><br>
      {% endfor %}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}