{% extends 'layout.html' %}

{% block body %}
<h1>Ingredients</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cuisine, class_="form-control")}}
    </div>
    <div class="form-group">
      <img src={{ url_for('static', filename=form.img_URI) }} alt=”Bananas”  width="60" height="60">
    </div>
    <div class="form-group"><p><input type="file" name="file" /></p></div>
    <h1>Add Ingredients</h1> 
    <div>
      {% for type in types %}
            <button class="accordion">{{type}}</button>
            <div class="panel"> <br><br>
            {% for ingredient in ingredients%}
              {% if type == ingredient.type %}
                <div class="form-group">
                    {% if ingredient.title in titles %}
                      <input type="checkbox" checked name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/>
                    {% else %}
                      <input type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/>
                    {% endif %}
                  <label for={{ingredient._id}} style="width: 15%;"> {{ingredient.title}}</label>
                  <img src ={{ url_for('static', filename=ingredient.img_URI)}} height="200" width="200" id="ingredient-image" />
                  <input type="number" id='quantity' name="quantity_{{ingredient.title}}" min="1"> 
                  <select name="unit_{{ingredient.title}}" id="unit">
                    <optgroup label="Metric">
                      <option value="of them">Count</option>
                      <option value="g">grams</option>
                      <option value="kg">kilograms</option>
                      <option value="ml">milliliters</option>
                      <option value="L">Liters</option>
                    </optgroup>
                    <optgroup label="That Other Fuck Shit">
                      <option value="lb">pounds</option>
                      <option value="oz">ounces</option>
                      <option value="fl oz">fluid ounces</option>
                      <option value="cups">cups</option>
                    </optgroup>
                  </select>
                  <br><br>
                </div>
              {% endif %}
            {% endfor %}
            </div>
      {% endfor %}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit and update ingredients"></p>
    <h1>Current Instructions</h1>
    <div class="form-group">
      <div class="continer">
        <div class="input-area">
            <label for = 'element'>Instruction</label>
            <input type="text" name = 'Instruction' id="input-holder">
            <button id='inst_button' type="button">Click To Add Instruction List Item</button>
         </div>
         <ul id = 'instruction_raw'></ul>
      </div>
      <div class="headers_instructions">
        <h1>Prep</h1>
        <h1>Execution</h1>
    </div>
    <div id="outer-grid">
          <div  id="inner-grid">
              <div class="Order-Prep"><h2>Order</h2>
                {% for instruction in prep %}
                <h2>{{prep.index(instruction)+1}}</h2>
                {% endfor %}
              </div>
              <div class = "Landing-Prep" ><h2>Prep Instructions</h2>
                {% for instruction in prep %}
                <h3><input type='text' value="{{instruction}}" style="font-size:x-large;"></h3>
                {% endfor %}
              </div>
          </div>
          <div class="form-group" id="inner-grid">
            <div class="Order-Prep"><h2>Order</h2>
              {% for instruction in execution %}
              <h2>{{execution.index(instruction)+1}}</h2>
              {% endfor %}
            </div>
            <div class = "Landing-Prep" ><h2>Execution Instructions</h2>
              {% for instruction in execution %}
              <h3><input type='text' value="{{instruction}}" style="font-size:x-large;"></h3>
              {% endfor %}
            </div>
          </div>
         </div>
    </div>
  </form>

  <style>
    /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
  background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  #panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  }
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function(event) {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
      panel.style.display = "none";
      } else {
      panel.style.display = "block";
      }
      event.preventDefault();
  });
  }
</script>

 <!-- Instructions Finnesse 2 -->
 <style>
  #outer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  }
  #outer-grid > div {
  background-color: limegreen;
  color: white;
  font-size: 4vw;
  padding: 8px;
  }
  #inner-grid {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-gap: 5px;
  }
  #inner-grid > div {
  background: lightgreen;
  padding: 8px;
  height: max-content;
  }
  .headers_instructions{
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr; 
      gap: 0% 0%; 
      grid-template-areas: 
          ". ."; 
      justify-content: start; 
      align-content: center; 
      justify-items: start; 
      align-items: center; 
  }
</style>
{% endblock %}