{% extends 'layout.html' %}

{% block body %}
<h1>Ingredients</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
        
    <div class="form-group">
      <label for="state">State of Matter: </label>
      <select id="state" name="state" >
        <option value="{{current_state}}" selected>{{current_state}}</option>
        <option value="solid🧊">Solid</option>
        <option value="powder👁‍🗨">Powder</option>
        <option value="crystal💎">Crystal</option>
        <option value="liquid💦">Liquid</option>
        <option value="paste🍝">Paste</option>
        <option value="other🙄">Other(cream, dried, vapor) </option>
      </select>
    </div>
    <div class="form-group">
      <label for="type">Type of Ingredient: </label>
      <select id="type" name="type">
        <option value="{{current_type}}" selected>{{current_type}}</option>
        <option value="Seasoning🧂">Seasoning</option>
        <option value="Meat🍗">Animal Protein</option>
        <option value="Non-Meat🥑">Non-Animal Protein (bean, nuts, legumes)</option>
        <option value="Fish🦈">Fish</option>
        <option value="Vegetable🥕">Vegetable</option>
        <option value="Fruit🍇">Fruit</option>
        <option value="Grain🌾">Grain</option>
        <option value="Sweetener🍯">Sweetener</option>
        <option value="Dairy🥛">Dairy</option>
        <option value="Lipid🧈">Oil/Fat</option>
        <option value="other😂">Other</option>
      </select>
    </div>
    <div class="form-group"><p><input type="file" name="file" /></p></div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}