{% extends 'layout.html' %}

{% block body %}
<h1>Ingredients</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data" action="">
    <div class="form-group">
      {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.description, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cuisine, class_="form-control")}}
    </div>
    <div class="form-group">
      <img src={{ url_for('static', filename=form.img_URI) }} alt=”Bananas”  width="60" height="60">
    </div>
    <div class="form-group"><p><input type="file" name="file" /></p></div>
    <h1>Add Ingredients</h1> 
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {%for type in types%}
      <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{type}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{type}}" aria-expanded="false" aria-controls="flush-collapseOne">
          {{type}}
          </button>
      </h2>
      <div id="flush-{{type}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <div class="container">
                  <div class="row">
                      <div class="col-1">Select</div>
                      <div class="col-3">Ingredient</div>
                      <div class="col-2">Image</div>
                      <div class="col-2">Quantity</div>
                      <div class="col-2">Unit</div>
                  </div>
                  {%for ingredient in ingredients%}
                    {%if ingredient.type == type %}
                      {% for stuff in current_ingredients %}
                        {% if ingredient.title == stuff.ingredient.title %}
                        <div class="container" >
                          <div class="row">
                              <div class="col-1"><input checked type="checkbox" name="ingredient_{{stuff.ingredient._id}}" id = {{stuff.ingredient._id}} value = "{{stuff.ingredient.title}}"/></div>
                              <div class="col-3"><a href="/ingredient/{{stuff.ingredient._id}}">{{stuff.ingredient.title}}</a></div>
                              <div class="col-2"><img src ={{ url_for('static', filename=stuff.ingredient.img_URI)}} height="75" width="75" id="ingredient-image" /></div>
                              <div class="col-2"><input type="number" id='quantity' name="quantity_{{stuff.ingredient.title}}" min="1" style="width: 85%;" step=0.1 ></div>
                              <div class="col-2">
                                  <select name="unit_{{stuff.ingredient.title}}" id="unit" style="width: 50px;">
                                      <optgroup label="Metric">
                                      <option value=""></option>
                                      <option value="of them">Count</option>
                                      <option value="g">grams</option>
                                      <option value="kg">kilograms</option>
                                      <option value="ml">milliliters</option>
                                      <option value="L">Liters</option>
                                      </optgroup>
                                      <optgroup label="That Other Fuck Shit">
                                      <option value="lb">pounds</option>
                                      <option value="oz">ounces</option>
                                      <option value="fl oz">fluid ounces</option>
                                      <option value="cups">cups</option>
                                      </optgroup>
                                  </select>
                              </div>
                          </div>
                      </div>
                        {%endif%}
                      {%endfor%}
                      {%if ingredient.title not in titles%}
                        <div class="containter">
                          <div class="row">
                            <div class="col-1"><input  type="checkbox" name="{{ingredient.title}}" id = {{ingredient._id}} value = "{{ingredient.title}}"/></div>
                            <div class="col-3"><label for={{ingredient._id}} style="width: 15%;"> {{ingredient.title}}</label></div>
                            <div class="col-2"><img src ={{ url_for('static', filename=ingredient.img_URI)}} height="75" width="75" id="ingredient-image" /></div>
                            <div class="col-2"><input type="number" id='quantity' name="quantity_{{ingredient.title}}" min="1" style="width: 85%;" step=0.1> </div>
                            <div class="col-2">
                              <select name="unit_{{ingredient.title}}" id="unit" style="width: 50px;">
                                <optgroup label="Metric">
                                  <option value="of them">Count</option>
                                  <option value="g">grams</option>
                                  <option value="kg">kilograms</option>
                                  <option value="ml">milliliters</option>
                                  <option value="L">Liters</option>
                                </optgroup>
                                <optgroup label="That Other Fuck Shit">
                                  <option value="lb">pounds</option>
                                  <option value="oz">ounces</option>
                                  <option value="fl oz">fluid ounces</option>
                                  <option value="cups">cups</option>
                                </optgroup>
                              </select>
                            </div>
                            <br><br>
                          </div>
                        </div>
                      {%endif%}
                    {%endif%}
                  {%endfor%}
              </div>
      </div>
      </div>
      </div>
  {%endfor%}
  </div>
    <p><input type="submit" class="btn btn-primary" value="Update Recipe {{form.title.data}}"></p>
    <h1>Current Instructions</h1>
    <div class="form-group">
      <div class="continer">
        <div class="input-area">
            <label for = 'element'>Instruction</label>
            <input type="text" name = 'Instruction' id="input-holder">
            <button id='inst_button' type="button">Click To Add Instruction List Item</button>
         </div>
         <ul id = 'instruction_raw'></ul>
      </div>
      <div class="headers_instructions">
        <h1>Prep</h1>
        <h1>Execution</h1>
    </div>
    <div id="outer-grid">
          <div class="form-group" id="inner-grid">
              <div class="Order-Prep"><h2>Order</h2>
                {% for instruction in prep %}
                <h2>{{prep.index(instruction)+1}}</h2>
                {% endfor %}
              </div>
              <div class = "Landing-Prep" ><h2>Prep Instructions</h2>
                {% for instruction in prep %}
                <h3><input type='text' value="{{instruction}}" name="oldprep{{prep.index(instruction)+1}}" style="font-size:x-large;"></h3>
                {% endfor %}
              </div>
          </div>
          <div class="form-group" id="inner-grid">
            <div class="Order-Prep"><h2>Order</h2>
              {% for instruction in execution %}
              <h2>{{execution.index(instruction)+1}}</h2>
              {% endfor %}
            </div>
            <div class = "Landing-Prep" ><h2>Execution Instructions</h2>
              {% for instruction in execution %}
              <h3><input type='text' value="{{instruction}}" name="oldexecution{{execution.index(instruction)+1}}" style="font-size:x-large;"></h3>
              {% endfor %}
            </div>
          </div>
         </div>
    </div>
  </form>

 <!-- Instructions Finnesse 2 -->
 <style>
  #outer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  }
  #outer-grid > div {
  background-color: limegreen;
  color: white;
  font-size: 4vw;
  padding: 8px;
  }
  #inner-grid {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-gap: 5px;
  }
  #inner-grid > div {
  background: lightgreen;
  padding: 8px;
  height: max-content;
  }
  .headers_instructions{
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr; 
      gap: 0% 0%; 
      grid-template-areas: 
          ". ."; 
      justify-content: start; 
      align-content: center; 
      justify-items: start; 
      align-items: center; 
  }
</style>
{% endblock %}